<%- include("partials/header"); -%>
    <h1>Contact us</h1> 
    <br/>
    <h2>Team Web Developers</h2>
    <br/>
    <h3>Contact No : +919380537486</h3>
    <br/>
    <h3>Email : kiran6028kumar@gmail.com </h3>

<%- include("partials/footer"); -%>
